// Versioning -- useful for making CrashReports more verbose/actionable

// RC_ProjectSourceVersion unless it's unset, falling back to SECURITYMONITORLITE_BUILD_VERSION_NONE
SECURITYMONITORLITE_BUILD_VERSION = $(SECURITYMONITORLITE_BUILD_VERSION_$(SECURITYMONITORLITE_BUILD_VERSION_SUFFIX_$(RC_ProjectSourceVersion)))

SECURITYMONITORLITE_BUILD_VERSION_ = $(RC_ProjectSourceVersion)
SECURITYMONITORLITE_BUILD_VERSION_SUFFIX_ = NONE

// A high default value for when RC_ProjectSourceVersion is unset (running `~rc/bin/buildit` with no version specified)
SECURITYMONITORLITE_BUILD_VERSION_NONE = 60000

// We have no current intention to hide sections of the code base from each other,
// we do expose some things we don't want visible outside of our project though
SWIFT_PACKAGE_NAME=SecurityMonitorLite

// We want testing/mocking to be easy to use but never impact releases
ENABLE_TESTABILITY[config=Debug] = YES

CURRENT_PROJECT_VERSION = $(SECURITYMONITORLITE_BUILD_VERSION)
DYLIB_CURRENT_VERSION = $(SECURITYMONITORLITE_BUILD_VERSION)
MODULE_VERSION = $(SECURITYMONITORLITE_BUILD_VERSION)

MACOSX_DEPLOYMENT_TARGET = 15.0
IPHONEOS_DEPLOYMENT_TARGET = 18.0

ARCHS = $(ARCHS_STANDARD)

ONLY_ACTIVE_ARCH_Debug = YES
ONLY_ACTIVE_ARCH_Release = NO

SUPPORTED_PLATFORMS = macosx iphoneos

SDKROOT = macosx.internal
ADDITIONAL_SDKS[sdk=iphoneos*] = privatecloudsupport
ADDITIONAL_SDKS[sdk=macos*] = acdcsupport

APPLY_RULES_IN_COPY_FILES = YES
ALWAYS_SEARCH_USER_PATHS = NO

SWIFT_VERSION = 5.9

CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_MODULES = YES

ENABLE_STRICT_OBJC_MSGSEND = YES
GCC_ENABLE_BUILTIN_FUNCTIONS = YES
GCC_NO_COMMON_BLOCKS = YES
GCC_STRICT_ALIASING = YES

PRODUCT_NAME = $(TARGET_NAME)

CODE_SIGN_IDENTITY = -

ENABLE_USER_SCRIPT_SANDBOXING = YES

GCC_PREPROCESSOR_DEFINITIONS = $(inherited)

// Warnings

GCC_TREAT_WARNINGS_AS_ERRORS = YES

WARNING_CFLAGS = -Wall -Wextra -Warray-bounds-pointer-arithmetic -Watomic-properties -Wcomma -Wconditional-uninitialized -Wcovered-switch-default -Wdate-time -Wdeprecated -Wdouble-promotion -Wduplicate-enum -Wexpansion-to-defined -Wfloat-equal -Widiomatic-parentheses -Wignored-qualifiers -Wimplicit-fallthrough -Wnullable-to-nonnull-conversion -Wobjc-interface-ivars -Wover-aligned -Wpacked -Wpointer-arith -Wselector -Wstatic-in-inline -Wsuper-class-method-mismatch -Wswitch-enum -Wtautological-compare -Wcast-align -Wunguarded-availability -Wunused -Wformat-nonliteral $(NO_WARNING_CFLAGS)
NO_WARNING_CFLAGS = -Wno-pedantic -Wno-unknown-warning-option -Wno-bad-function-cast -Wno-c++-compat -Wno-c++98-compat -Wno-c++98-compat-pedantic -Wno-cast-align -Wno-cast-qual -Wno-disabled-macro-expansion -Wno-documentation-unknown-command  -Wno-missing-variable-declarations -Wno-old-style-cast -Wno-padded -Wno-reserved-id-macro -Wno-shift-sign-overflow -Wno-undef -Wno-unreachable-code-aggressive -Wno-unused-macros -Wno-used-but-marked-unused -Wno-vla -Wno-objc-missing-property-synthesis -Wno-semicolon-before-method-body -Wno-objc-property-implementation

CLANG_WARN_ASSIGN_ENUM = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = YES
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_SHADOW = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_STRICT_SELECTOR_MATCH = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_PARAMETER = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES

CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_OBJC_IMPLICIT_ATOMIC_PROPERTIES = YES
CLANG_WARN_OBJC_MISSING_PROPERTY_SYNTHESIS = YES

CLANG_ANALYZER_DEADCODE_DEADSTORES = YES
CLANG_ANALYZER_GCD = YES
CLANG_ANALYZER_MEMORY_MANAGEMENT = YES
CLANG_ANALYZER_NONNULL = YES
CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_GETPW_GETS = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_MKSTEMP = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_UNCHECKEDRETURN = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_VFORK = YES
CLANG_ANALYZER_SECURITY_KEYCHAIN_API = YES

ONLY_ACTIVE_ARCH = YES

// MARK: - Packaging
GENERATE_INFOPLIST_FILE = YES
DEFINES_MODULE = YES
PRODUCT_NAME = $(TARGET_NAME)
PRODUCT_MODULE_NAME = $(TARGET_NAME)
PRODUCT_BUNDLE_IDENTIFIER_BASE=com.apple
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER_BASE).$(PRODUCT_NAME:rfc1034identifier)

// MARK: - Optimizations
// The optimization level (-Onone, -O, -Osize) for the produced Swift binary
SWIFT_OPTIMIZATION_LEVEL[config=Release] = -O
SWIFT_OPTIMIZATION_LEVEL[config=Debug] = -Onone

// Compilation mode (independent of optimization level)
SWIFT_COMPILATION_MODE[config=Release] = wholemodule
